{
	"parserOptions": {
		"sourceType": "module"
	},

	"env": {
		"es6": true,
		"browser": true
	},

	"extends": "eslint:recommended",

	"rules": {
		"no-unused-vars": [ "error", { "args": "none" } ],

		"no-mixed-spaces-and-tabs": [ "error", "smart-tabs" ],
		"array-bracket-spacing": [ "error", "always" ],
		"block-spacing": [ "error", "always" ],
		"brace-style": [ "error", "stroustrup", { "allowSingleLine": true } ],
		"comma-spacing": [ "error" ],
		"space-before-blocks": [ "error", "always" ]
	},

	"globals": {
		"console": true,
		"require": true,
		"window": true,

		"d3": true,
		"d3_hexbin": true,
		"L": true,

		"after": true,
		"afterEach": true,
		"before": true,
		"beforeEach": true,
		"context": true,
		"describe": true,
		"it": true,
		"should": true
	}
}
