# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Node modules
node_modules

# project files
.settings
.project
.idea

# Mac OS
.DS_Store

# Bower modules
src/lib

# Distribution folder
# dist -- Keep the dist folder intact for bower dependency management